// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.form-control::placeholder{
    color: #cccccc;
}

.custom-width{
    max-width: 1280px;
    width: 100%;
}

textarea{
    resize:none;
}
